.input {
    font-size: 14px;
    background: none;
    border: 1px solid #000;
    display: block;
    padding: 14px 18px;
    line-height: 28px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 10px 0;
}
